//!<Шрифт по умолчанию>==============================================
$fontFamily: "system";
//?</Шрифт по умолчанию>=============================================

$minWidth: 320px; //Минимальная ширины для мобильных устройств
$maxWidth: 1152px; //Максимальная ширина макета для использования отзывчивости

$maxWidthContainer: 856; //Максимальная ширина контейнера
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$white: #fff;
$black: #000;
